@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

// /////mixin/////
@mixin zoom($time) {
    transition: $time ease-in-out;
}

// /////全域設定/////
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Castoro', serif;
    line-height: 1.5;
    font-size: 24px;
}

// /////頁面樣式/////
.container {
    max-width: 1296px;
    margin: 0 auto;

    h1 {
        margin-top: 160px;
        font-size: 128px;
        letter-spacing: 15.36px;
    }

    img {
        margin: 0 auto;
        max-width: 636px;
        display: block;
    }

    h2 {
        font-size: 128px;
        text-align: right;
        letter-spacing: 15.36px;
    }

    li {
        max-width: 636px;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 40px;
        color: #AE0000;
        border-bottom: #AE0000 solid 3px;
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 8px;
    }

    .year {
        font-size: 20px;
        color: #949494;
        margin-bottom: 0;
        font-style: italic;
    }
}

.bg-gray {
    background-color: #EFEFEF;
    padding: 48px 0;
    margin-bottom: 80px;

    .info {
        max-width: 636px;
        margin-left: auto;
        font-size: 32px;
    }
}

footer {
    background-color: #000;
    padding: 64px 0;
    margin-top: 160px;

    ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    li {
        margin: 0 20px;
    }

    img {
        display: block;
        font-size: 0;
        @include zoom(0.2s)
    }

    li:hover img {
        transform: scale(1.1);
    }
}